<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
        {{#if devoured}}Chow Time!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>